<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en" class="no-ie" style="overflow:hidden;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit"/>
    <title>搜索印章</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/icon.ico}"  media="screen" />
    <link rel="stylesheet" th:href="@{/css/pintuer.css}" href="../../static/css/pintuer.css"/>
    <link rel="stylesheet" th:href="@{/css/page.css}" href="../../static/css/page.css">
    <link rel="stylesheet" th:href="@{/css/admin.css}" href="../../static/css/admin.css"/>
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../../static/css/common.css"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}" src="../../static/js/jquery-3.2.1.min.js"></script>
    <script th:src="@{/js/bootstrap.js}" src="../../static/js/bootstrap.js"></script>
    <!--    弹框插件-->
    <link rel="stylesheet" type="text/css" th:href="@{/xcConfirm/css/xcConfirm.css}"
          href="../../static/xcConfirm/css/xcConfirm.css"/>
    <script th:src="@{/xcConfirm/js/xcConfirm.js}" type="text/javascript" charset="utf-8"
            src="../../static/xcConfirm/js/xcConfirm.js"></script>

    <link rel="stylesheet" th:href="@{/jquery-dialogbox/jquery.dialogbox-1.0.css}"
          href="../../static/jquery-dialogbox/jquery.dialogbox-1.0.css"/>
    <script th:src="@{/jquery-dialogbox/jquery.dialogbox-1.0.js}"
            src="../../static/jquery-dialogbox/jquery.dialogbox-1.0.js"></script>

    <script th:src="@{/js/pintuer.js}" src="../../static/js/pintuer.js"></script>
    <script th:src="@{/js/quit.js}" src="../../static/js/quit.js"></script>
</head>
<body>

<form method="post" action="" id="listform">

    <ul class="search" style="padding-left:40%;padding-top: 14%">
        <li>
            <img th:src="@{/images/icon.ico}" width="14%" height="14%" />
            <span style="font-size: 20px">ESS印章制作系统</span>
        </li>
    </ul>
    <br>
    <br>
    <ul class="search" style="padding-left:30%">
        <li>
            <input type="text" placeholder="输入要下载的印章序号" id="keywords" class="input" style="width: 400px;"/>
        </li>
        <li>
            <button type="button" class="button icon-search" style="width: 100px;" onclick="selectSeal()">查找</button>
        </li>
    </ul>
</form>
</body>
<script  type="text/javascript" th:inline="javascript">
    function selectSeal() {
        let keywords =  $('#keywords').val();
        window.location.href = "/essplatform/seal/write_uk?sealId="+keywords;
    }
</script>
</html>